.navbar-main {
  background-color: cadetblue;
}

.navbar-edit {
  background-color: #6ccff6c2;
  color: white;
  font-size: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.Table-color {
  border: 1px solid black;
  border-style: groove;
  border-radius: 10px;
  color: black;
}

.Nav-link {
  background-color: grey;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.Nav-link-active {
  background-color: black;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.Nav-item {
  margin: 5px;
  padding: 5px;
}
.Nav-item-active {
  background-color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(
    180deg,
    #6ccff6 0%,
    #a8e0fa 15vh,
    #ebf7fe 60vh
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
